.booking-main {
    width: 70%;
    height: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.booking-heading {
    color: #1b3045;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-card-container {
    height: 90px;
    width: 50%;
    border: 1px solid #1b3045;
}

.booking-heading-one {
    font-size: 60px;
    margin-bottom: 0px;
}

.booking-heading-two {
    font-size: 40px;
}
