.flight-card-container {
    background-color: white;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #1b3045;
}

.flight-card-dep-and-arr-times{
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.flight-card-price-container {
    height: 60px;
}

.flight-card-from {
    font-size: 10px;
    margin-bottom: 4px;
}

.flight-card-price {
    font-weight: 800;
}

.checkout-btn {
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #1b3045;
    padding: 5px;
}

.flight-card-edit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}